h1 {
    position: relative;
    padding: 0;
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 40px;
    color: #080808;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
  }
  
  h1 span {
    display: block;
    font-size: 0.5em;
    line-height: 1.3;
  }
  h1 em {
    font-style: normal;
    font-weight: 600;
  }
  /* Style 9
     ----------------------------- */
  .nine h1 {
    text-align:center; font-size:50px; 
    text-transform:uppercase; 
    color:#222; 
    letter-spacing:1px;
    font-family:"Playfair Display", serif; 
    font-weight:400;
  }
  .nine h1 span {
    margin-top: 5px;
      font-size:15px; color:#444; word-spacing:1px; font-weight:normal; letter-spacing:2px;
      text-transform: uppercase; font-family:"Raleway", sans-serif; font-weight:500;
  
      display: grid;
      grid-template-columns: 1fr max-content 1fr;
      grid-template-rows: 27px 0;
      grid-gap: 20px;
      align-items: center;
  }
  
  .nine h1 span:after,.nine h1 span:before {
      content: " ";
      display: block;
      border-bottom: 1px solid #ccc;
      border-top: 1px solid #ccc;
      height: 5px;
    background-color:#f8f8f8;
  }
  


  /* ------- Helper Styles -------------*/
  *,
  *:before,
  *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  body {
    background: white
  }
  .nine {
    position: relative;
    background: white;
    width: 90%;
    max-width: 500px;
    padding: 2em;
    margin: 1.5em auto;
    /* border: 3px solid rgba(0, 0, 0, 0.08); */
  }
  
  h1:before,
  h1:after {
    background-color: #080808;
  }
  /*----------accordian alignment--------------*/
.bodrep{
  background-color: #f7f7f8;
  min-height: 55vh;
  /* max-height: 250vh;
  min-width: 100vh; */
  max-width: 150vh;
  margin: 0 3%;
  border: 2px solid #f7f7f8;
  border-radius: 0 50px 50px 0;
  padding: 20px;
  color: black;
  box-shadow:
  3.3px 3.6px 8.1px -14px rgba(0, 0, 0, 0.09),
  7.8px 8.6px 19.5px -14px rgba(0, 0, 0, 0.086),
  14.8px 16.2px 36.7px -14px rgba(0, 0, 0, 0.081),
  26.4px 28.8px 65.4px -14px rgba(0, 0, 0, 0.075),
  49.3px 53.9px 122.4px -14px rgba(0, 0, 0, 0.066),
  118px 129px 293px -14px rgba(0, 0, 0, 0.052) ;
  flex: 0 0 45%;
}

.d-flex{
  justify-content: center;
  /* align-items: center; */
}

.sidebox {
  background-color: #403a3a;
  color: white;
  padding: 0%;
}
.bod_names{
  font-size:large;
  font-style:serif;
  text-underline-position: below;
  font-style: oblique;
  font-weight: bold;
}

.sub_heading{
  font-style: oblique;
  font-weight: bold;
  font-style:sans-serif;
  font-size: larger;
  text-decoration: underline dashed;
  text-underline-position: below ;
}

/* -------media query for mobile------- */

@media only screen and (max-width: 768px) {
  [class*="bod_details"] {
    width: 100%;
  }
}