body{
    min-height: 100vh;
    font-family: sans-serif;
}

.navbar{
    background-color:#002746;
}

.logo img {
    width: 100%;
    height: auto;
    display: block;
}
.navbar-brand{
    font-size: 60px;
}

.nav-link{
    color: white;
}

.introduction{
    text-align: center;
    height: 50vh;
    background-color: #002746;
    color: white;
}

#footer{
    margin-top: 0;
}

.text{
    overflow: hidden;
    text-overflow: ellipsis;
}

.navbar-nav li {
    background-color: #ffffff;
    border: 2px solid #662D91;
}

ul.nav a:hover,.navbar-nav li.active > a{
    color: #fff;
    background-color: #662D91;
    border: 2px solid #fff;
}