body{
  overflow-x: scroll;
}

:root {
  --animate-duration: 800ms;
  --animate-delay: 0.9s;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  font-family: sans-serif;
}

.navbar {
  background-color: #1668a0;
}

.logo img {
  width: 100%;
  height: auto;
  display: block;
}

.wrapper{
  display: flex;
  justify-content: center;
}

.introduction{
  height: 30vh;
  background-color: #F5F5F5;
  display: flex;
  padding-left: 20px;
  flex-direction: column;
  overflow-y: auto;
}

.intro-text{
  font-size: 30px;
  padding: 0 15%;
}

.intro-heading{
  text-decoration: underline;
  padding: 0 15%;
  color: navy;
}

.incorporation{
  height: 30vh;
  background-color: #E8E2E2;
  display: flex;
  padding-left: 20px;
  flex-direction: column;
  overflow-y: scroll;
}

.rolling{
  text-align: center;
}

.main-heading {
  text-align: center;
  font-size: 65px;
}

.sub {
  font-size: 25px;
  text-align: center;
}

.nav-link {
  color: white;
}

.nav-link:hover{
  color: #000;
}

.text {
  overflow: hidden;
  text-overflow: ellipsis;
}

/* .wrap{
  display: flex;
  padding-left: 15%;
} */

.container-fluid{
  margin-left: 6.5em;
}
#parent{
  display: flex;
}

#child1{
  flex:1;
}

#child2{
  flex:1;
  padding-left: 25%;
  margin-right: 8.5em;
  margin-left: 8.5em;
  width: 75%;
  background-color: #9ED2C6;
}

.button-img{
  height: 20px;
  width: 20px;
}

.news{
  width: fit-content;
  padding-right: 85%;
  overflow: hidden;
}

:root {
  --white: #fff;
  --black: #000;
  --dark: #1e1e1e;
  --gray: rgba(1, 1, 1, 0.6);
  --lite: rgba(255, 255, 255, 0.6);
  --primary: #002347;
  --secondary: #fdc632;
}

/***************************
            DEFAULT
  ****************************/
body {
  margin: 0;
  overflow-x: hidden !important;
  font-family: "Poppins", sans-serif;
}

.list-item {
  text-decoration: none !important;
  min-width: fit-content;
  width: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
}

ul > li{
  display: inline-block;
} 

.list-item,
button {
  transition: 0.5s;
}

.list-item
{
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary);
  font-weight: 400;
}

.list-item,
button,
input,
textarea,
select {
  outline: none !important;
}

fieldset {
  border: 0;
}

.title {
  color: var(--primary);
}

.flex,
.fixed_flex {
  display: flex;
}

.flex-content {
  width: 100%;
  position: relative;
}

.padding_1x {
  padding: 1rem;
}

.padding_2x {
  padding: 2rem;
}

.padding_3x {
  padding: 3rem;
}

.padding_4x {
  padding: 4rem;
}

.btn1 {
  padding: 0.8rem 2rem;
  border-radius: 5px;
  text-align: center;
  font-weight: 500;
  text-transform: uppercase;
}

@media (max-width: 920px) {
  .flex {
    flex-wrap: wrap;
  }

  .padding_1x,
  .padding_2x,
  .padding_3x,
  .padding_4x {
    padding: 1rem;
  }

  .btn {
    padding: 0.5rem 1rem;
  }

  .list-item
  {
    font-size: 12px;
  }
}

/***************************
              FOOTER
  ****************************/
footer {
  background-color: #9ED2C6;
  color: var(--gray);
}

footer h3 {
  color: var(--dark);
  margin-bottom: 1.5rem;
}

footer .list-item {
  color: var(--dark);
  display: block;
  margin: 15px 0;
}

footer .list-item:hover {
  color: var(--white);
}

footer fieldset {
  padding: 0;
}

footer fieldset input {
  background-color: #334f6c;
  border: 0;
  color: var(--lite);
  padding: 1rem;
}

footer fieldset .btn {
  border-radius: 0;
  border: 0;
}

footer fieldset .btn_2:hover {
  background-color: var(--secondary);
  border: 0;
  color: var(--primary);
}

footer .flex:last-child {
  align-items: center;
}

footer .flex:last-child .flex-content:last-child {
  text-align: right;
}

footer .flex:last-child p {
  color: var(--white);
}

footer .flex:last-child a {
  width: 40px;
  display: inline-block;
  background-color: #334f6c;
  color: var(--white);
  padding: 0.5rem;
  margin-right: 3px;
  text-align: center;
}

footer .flex:last-child a:hover {
  background-color: var(--secondary);
  color: var(--gray);
}

.copyright{
  text-align: center;
}

@media (max-width: 1100px) {
  footer .flex:first-child {
    flex-wrap: wrap;
  }

  footer .flex:first-child .flex-content {
    flex: 1 1 40%;
  }
}

@media (max-width: 920px) {
  footer .flex:last-child .flex-content:last-child {
    text-align: left;
  }
}

@media (max-width: 320px) {
  footer .flex:first-child .flex-content {
    flex: 1 1 100%;
  }
}

.topicschemes1{
  text-align: justify;
  font-style: verdana;
  padding: 1%;
}

.contentschemes1{
  font-style: verdana;
  text-align: justify;
  padding-left: 18px;
  padding-right: 18px;
  font-size: 120%;
}

.topicschemes2{
  text-align: justify;
  font-style: verdana;
  padding: 1%;
}

.contentschemes2{
  font-style: verdana;
  text-align: justify;
  padding-left: 18px;
  padding-right: 18px;
  font-size: 120%;
}

.topicschemes3{
  text-align: justify;
  font-style: verdana;
  padding: 1%;
}

.contentschemes3{
  font-style: verdana;
  text-align: justify;
  padding-left: 18px;
  padding-right: 18px;
  font-size: 120%;
}


.topicschemes4{
  text-align: justify;
  font-style: verdana;
  padding: 1%;
}

.contentschemes4{
  font-style: verdana;
  text-align: justify;
  padding-left: 18px;
  padding-right: 18px;
  font-size: 120%;
}

.accordion{
  padding-top: 20px;
  padding-left: 18px;
  padding-right: 160px;
  /* background-color: #86b7fe; */
  /* border-color: #121212; */
  margin-bottom: 30px;
}

.accordion-button{
  font-size: 19px;
}


.topicschemes5{
  text-align: justify;
  font-style: verdana;
  padding: 1%;
}

.contentschemes5{
  font-style: verdana;
  text-align: justify;
  padding-left: 18px;
  padding-right: 18px;
  font-size: 120%;
}

.topicschemes6{
  text-align: justify;
  font-style: verdana;
  padding: 1%;
}

.contentschemes6{
  font-style: verdana;
  text-align: justify;
  padding-left: 18px;
  padding-right: 18px;
  font-size: 120%;
}

.topicschemes7{
  text-align: justify;
  font-style: verdana;
  padding: 1%;
}

.contentschemes7{
  font-style: verdana;
  text-align: justify;
  padding-left: 18px;
  padding-right: 18px;
  font-size: 120%;
}

.topicschemes8{
  text-align: justify;
  font-style: verdana;
  padding: 1%;
}

*{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.table-wrapper{
  font-family: 'poppins';
  -webkit-font-smoothing: antialiased;
  background: rgb(46, 58, 72);
}
/* h2{
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: white;
  padding: 30px 0;
} */

/* Table Styles */

.table-wrapper{
  margin: 10px 70px 70px;
  box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
}

.fl-table {
  border-radius: 5px;
  font-size: 16px;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  white-space: nowrap;
  background-color: white;
}

.fl-table td, .fl-table th {
  text-align: center;
  padding: 8px;
}

.fl-table td {
  border-right: 1px solid #f8f8f8;
  font-size: 16px;
}

.fl-table thead th {
  color: #ffffff;
  background: #3A98B9;
}


.fl-table thead th:nth-child(odd) {
  color: #ffffff;
  background: #0F6292;
}

.fl-table tr:nth-child(even) {
  background: #F8F8F8;
}

/* Responsive */

@media (max-width: 767px) {
  .fl-table {
      display: block;
      width: 100%;
  }
  .table-wrapper:before{
      content: "Scroll horizontally >";
      display: block;
      text-align: right;
      font-size: 11px;
      color: white;
      padding: 0 0 10px;
  }
  .fl-table thead, .fl-table tbody, .fl-table thead th {
      display: block;
  }
  .fl-table thead th:last-child{
      border-bottom: none;
  }
  .fl-table thead {
      float: left;
  }
  .fl-table tbody {
      width: auto;
      position: relative;
      overflow-x: auto;
  }
  .fl-table td, .fl-table th {
      padding: 20px .625em .625em .625em;
      height: 60px;
      vertical-align: middle;
      box-sizing: border-box;
      overflow-x: hidden;
      overflow-y: auto;
      width: 120px;
      font-size: 13px;
      text-overflow: ellipsis;
  }
  .fl-table thead th {
      text-align: left;
      border-bottom: 1px solid #f7f7f9;
  }
  .fl-table tbody tr {
      display: table-cell;
  }
  .fl-table tbody tr:nth-child(odd) {
      background: none;
  }
  .fl-table tr:nth-child(even) {
      background: transparent;
  }
  .fl-table tr td:nth-child(odd) {
      background: #F8F8F8;
      border-right: 1px solid #E6E4E4;
  }
  .fl-table tr td:nth-child(even) {
      border-right: 1px solid #E6E4E4;
  }
  .fl-table tbody td {
      display: block;
      text-align: center;
  }
}

.topicschemes9{
  text-align: justify;
  font-style: verdana;
  padding: 1%;
}

.contentschemes9{
  font-style: verdana;
  text-align: justify;
  padding-left: 18px;
  padding-right: 18px;
  font-size: 120%;
}