{% extends 'base.html' %}
<link rel="stylesheet" href="{{ url_for('static' , filename='css/style(about).css') }}">
{% block nav %}
<nav class="navbar navbar-expand-lg navbar-dark">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="nav m-auto">
        <li class="nav-item">
          <a class="nav-link active text-light py-1 nav-button" aria-current="page" href="/">HOME</a>
        </li>
        </ul>
    </div>
</nav>
{% endblock %}

{% block content %}
<div class="introduction">
    <h1 class="intro-heading neonText">TAMILNADU URBAN FINANCE AND INFRASTRUCTURE DEVELOPMENT CORPORATION LIMITED(TUFIDCO)</h1>
    <p class="intro-text">The decadal growth rate of India's urban
        population demonstrates the fast-growing
        demand for various infrastructures, including
        basic amenities in the cities. The Government of
        Tamil Nadu has taken proactive measures in
        addressing this problem by establishing Tamil
        Nadu Urban Finance and Infrastructure
        Development Corporation (TUFIDCO) on
        20.03.1990 under the Companies Act, 1956 with
        an aim of enhancing the quality of life for urban
        residents by providing basic infrastructure
        facilities in urban local bodies. 
    </p>
</div>
<div class="incorporation">
  <h1 class="intro-heading neonText">Vision and Mission</h1>
  <p class="intro-text">The vision of TUFIDCO is “to develop basic
    infrastructure in urban local bodies to the
    satisfactory level of inhabitants with sustainable
    facilities that attracts investments for the growth
    of the urban local bodies”.</p>
</div>
<div class="introduction">
  <h1 class="intro-heading neonText">Objectives of TUFIDCO</h1> 
    <ol class="schemes-list">
      <li>
        To extend financial assistance for
        developmental schemes to urban local
        bodies / parastatal agencies.
      </li>
      <li>
        To undertake various infrastructure
        development schemes in collaboration with
        urban local bodies or with Government
        agencies.
      </li>
      <li>
        To finance various schemes such as basic
        services, asset creation and poverty
        alleviation for a better standard of living of
        all the people
      </li>.
    </ol> 
</div>
{% endblock %}
{% block footer %}{% endblock %}