<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <link href="https://unpkg.com/pattern.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/transition-style/transition.hackpack.min.css">
    <link rel="stylesheet" href="{{ url_for('static' , filename='css/style.css') }}">
    {% block head %}{% endblock %}
    <!-- NAVBAR START -->
    <!-- LOGO AND TOGGLE -->
        <div class="main-heading wrapper ">        
          <img src="{{ url_for('static', filename='images/resized_logo.png') }}" class="logo">
          TUFIDCO
        </div>
        <h6 class="sub m-auto">TAMILNADU URBAN FINANCE AND INFRASTRUCTURE DEVELOPMENT CORPORATION LTD</h6>
        <br>
        <nav class="navbar navbar-expand-lg navbar-dark">
        <!-- LINKS -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>     
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="nav m-auto">
            <li class="nav-item">
              <a class="nav-link active text-light py-1 nav-button" aria-current="page" href="/about">ABOUT US</a>
            </li>
            <li class="nav-item px-3">
              <a class="nav-link text-light nav-button py-1" href="/boardofdirectors">BOARD OF DIRECTORS</a>
            </li>
            <li class="nav-item px-3">
              <a class="nav-link text-light nav-button py-1" href="/orgchart">ORGANISATION CHART</a>
            </li>
            <li class="nav-item px-3">
              <a class="nav-link text-light nav-button py-1" href="/schemes">SCHEMES</a>
            </li>
            <li class="nav-item px-3">
              <a class="nav-link text-light nav-button py-1" href="/funds">FUNDS</a>
            </li>
            <li class="nav-item px-3">
              <a class="nav-link text-light nav-button py-1" href="/links">LINK</a>
            </li>
            <li class="nav-item px-3">
              <a class="nav-link text-light nav-button py-1" href="/tender_details">TENDER DETAILS</a>
            </li>
            <li class="nav-item px-3">
              <a class="nav-link text-light nav-button py-1" href="/contact">CONTACT US</a>
            </li>
          </ul>
        </nav>
    {% block nav %}{% endblock %}
</head>

<body>
    <div class="content">
        {% block content %}{% endblock %} 
    </div>
    <!-- footer -->
<!--FONT AWESOME-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!--GOOGLE FONTS-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet"> 

<!--footer-->
<footer class="padding_4x">
  <div class="flex">
    <section class="flex-content padding_1x">
      <h3>Quick Links</h3>
      <ul>
        <li>
          <a class="list-item px-5" href="#">ABOUT US</a>
        </li>
        <li>
          <a class="list-item px-5" href="#">BOARD OF DIRECTORS</a>
        </li>
        <li>
          <a class="list-item px-5" href="#">ORGANISATION CHART</a>
        </li>
        <li>
          <a class="list-item px-5" href="#">SCHEMES</a>
        </li>
        <li>
          <a class="list-item px-5" href="#">FUNDS</a>
        </li>
        <li>
          <a class="list-item px-5" href="#">LINKS</a>
        </li>
        <li>
          <a class="list-item px-5" href="#">TENDER DETAILS</a>
        </li>
        <li>
          <a class="list-item px-5" href="#">CONTACT US</a>
        </li>
      </ul>
      </section>
    </div>
  <div class="flex">
    <section class="flex-content padding_1x">
      <p class="copyright">Copyright ©2023 All rights reserved || TUFIDCO</p>
    </section>
  </div>
</footer>
  {% block footer %}{% endblock %}
</body>
</html>
