{%extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="/static/css/style(bod).css">
<link rel="stylesheet" href="{{ url_for('static' , filename='css/style(bod).css') }}">
{% endblock %}

{% block nav %}

{% endblock %}
{% block content %}
    
      <div class="nine">
        <h1>Board of directors<span>Committee Members</span></h1>
      </div>
<div class="d-flex">
  <section class="sidebox">
    <h1>years</h1>
    <div class="dropdown">
      
    </div>  
    <div class="dropdown-content">
      <h2>sriram</h2>
    </div>
  
  </section>      
    <section class="bodrep">
      
        <!-- <Header>My first attemptsdheieckenefkdncdlfesdklcnefnwensdklncelkfeiohhdfjefjeojsdofjeofjoejdlceofjoejf</Header> -->
      <div>
        <p class="bod_names">Dr.Neeraj Mittal, I.A.S.,</p>
      </div>
      <div>
        <p class="bod_details">
          Additional Chief Secretary / Chairman and Managing Director,<br>
          Tamil Nadu Urban Finance and Infrastructure Development Corporation Limited.,<br>
          No.490 Anna Salai,Nandanam,<br>
          Chennai-600 035.
        </p>
        <hr>
      </div>
      <div>
        <p class="bod_names">Thiru. Shiv Das Meena I.A.S.,</p>
      </div>
      <div>
        <p class="bod_details">
          Additional Chief Secretary to Government,<br>
          Municipal Administration and water supply Department,T.N.Secretariat<br>
          Chennai-600 009.
        </p>
        <hr>
      </div>
      <div>
        <p class="bod_names">Selvi. Apoorva, I.A.S.,</p>
      </div>
      <div>
        <p class="bod_details">
          Principal Secretary to Government,<br>
          Housing and Urban Development Department.,<br>
          Chennai-600 002.
        </p>
        <hr>
      </div>
      <div>
        <p class="bod_names">Dr.S.Swarna,I.A.S.,</p>
      </div>
      <div>
        <p class="bod_details">
          Principal Secretary to Government/ Chairman & Managing Director,<br>
          Tamilnadu Urban Infrastructure Financial Services Limited.,<br>
          19, T.P Scheme Road, Raja Annamalaipuram,<br>
          Chennai-600 028.
        </p>
        <hr>
      </div>
      <div>
        <p class="bod_names">Thiru.R.Kirlosh Kumar,I.A.S.,</p>
      </div>
      <div>
        <p class="bod_details">
          Managing Director,<br>
          Chennai Metropolitan Water Supply and Sewerage Board,<br>
          1st Floor, Urban Administrative Building, Santhome High Road,MRC Nagar,<br>
          Chennai-600 028.
        </p>
        <hr>
      </div>
      <div>
        <p class="bod_names">Thiru.Anshul Mishra,I.A.S.,</p>
      </div>
      <div>
        <p class="bod_details">
          Member Secretary,<br>
          Chennai Metropolitan Development Authority.,<br>
          ThalamuthuNatarajanMaaligai,<br>
          No.1, Gandhi Irwin Road, Egmore,<br>
          Chennai-600 008.
        </p>
        <hr>
      </div>
      <div>
        <p class="bod_names">Thiru.Kiran Gurrala ,I.A.S.,</p>
      </div>
      <div>
        <p class="bod_details">
          Director of Town Panchayats,<br>
          8th Floor, Urban Administrative Building,<br>
          Santhome High Road, MRC Nagar,<br>
          Chennai-600 008.
        </p>
        <hr>
      </div>
      <div>
        <p class="bod_names">Thiru.Prashant M Wadnere,I.A.S.,</p>
      </div>
      <div>
        <p class="bod_details">
          Additional Secretary to Government.<br>
          Finance Department,<br>
          Secretariat,<br>
          Chennai-600 009.
        </p>
        <hr>
      </div>
      <div>
        <p class="bod_names">Thiru.P.Ponniah, I.A.S</p>
      </div>
      <div>
        <p class="bod_details">
          Director of Municipal Administration,<br>
          11th Floor, Urban Administrative Building,<br>
          Santhome High Road, MRC Nagar,<br>
          Chennai-600 028.
        </p>
        <hr>
      </div>
      <div>
        <p class=""
      </div>
      

    </section>
</div> 
      {% endblock %}