{% extends 'base.html' %}
{% block head %}

{% endblock %}

{% block nav %}

{% endblock %}

{% block content %}
<section class="introduction">
  <h1 class="intro-heading animate__animated animate__fadeInLeft">ABOUT TUFIDCO</h1><br>
    <p class="intro-text animate__animated animate__fadeInRight">
      TUFIDCO is providing financial assistance to implement various infrastructure projects of local bodies, Statutory Authorities, Boards and other Government agencies under TUFIDCO'S INFRASTRUCTURE FUNDING SCHEME(TIFS) from its share capital, reserves and by availing loan from banks and mobilising public deposits.
    </p>
</section>
<section class="incorporation">
  <h1 class="intro-heading animate__animated animate__fadeInLeft">INCORPORATION</h1><br>
    <p class="intro-text animate__animated animate__fadeInRight">
      TamilNadu Urban Finance and Infrastructure development Corporation Ltd(TUFIDCO) was incorporated under Companies Act, 1956 on 21-03-1990. The main object of the corporation is providing financial assistance and guidance to Local Bodies, Corporations, Boards, Authorities and parastatal agencies for their development schemes. It is also a Nodal Agency to Implement Government programme/schemes in the State.
    </p>
</section>
<!-- marquee -->
<marquee direction="up" scrollamount="3" class="rolling">Sukesh<br>
  Sriram<br>
  Swetha<br>
  Teja
</marquee>
{% endblock %}

{% block footer %}

{% endblock %}

