{% extends 'base.html' %}
<link rel="stylesheet" href="{{ url_for('static' , filename='css/style(home).css') }}">
{% block head %}

{% endblock %}

{% block nav %}

{% endblock %}

{% block content %}
<p class="introduction" style="margin-bottom: 0px;">
  TUFIDCO is providing financial assistance to implement various infrastructure projects of local bodies, Statutory Authorities, Boards and other Government agencies under TUFIDCO’S INFRASTRUCTURE FUNDING SCHEME(TIFS) from its share capital, reserves and by availing loan from banks and mobilising public deposits.
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt distinctio earum repellat quaerat voluptatibus placeat nam, commodi optio pariatur est quia magnam eum harum corrupti dicta, aliquam sequi voluptate quas
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt distinctio earum repellat quaerat voluptatibus placeat nam, commodi optio pariatur est quia magnam eum harum corrupti dicta, aliquam sequi voluptate quas
</p>
{% endblock %}

{% block footer %}

{% endblock %}

