{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="/static/css/style.css">
<link rel="stylesheet" href="{{ url_for('static' , filename='css/style(sch).css') }}">
{% endblock %}

{% block nav %}

{% endblock %}

{% block content %}
<section id="smartcities">
    <span class="heading1"><u>SMART CITIES MISSION</u></span>
    <p class="sccontent">The Government of India launched Smart Cities Mission on 25.06.2015.  The objective of the Smart Cities Mission is to create world class cities as per the aspirations and needs of the citizens. TUFIDCO is the Mission Directorate for implementation of Smart Cities Mission in Tamil Nadu.<br></br>
    The Government of India have selected 100 cities throughout India to develop as ‘Smart Cities” by upgrading infrastructure and smart applications.  It improves the quality of life, efficiency of urban operations and meets the present and future generations with respect to economic, social and environmental aspects. 11 cities have been selected in Tamil Nadu to be developed as ‘Smart Cities’. The selected Smart Cities are Chennai, Coimbatore, Madurai, Thanjavur, Salem, Vellore, Tiruppur, Thoothukudi, Tirunelveli, Tiruchirappalli and Erode.<br></br>
    The implementation of Smart City project is being done by a Special Purpose Vehicle (SPV) formed at City-level.  Under this Mission, each city will get Rs 500 Cr as Central assistance and Rs. 500 Cr as State grant for implementing various smart cities projects.<br></br>
    Out of 378 projects sanctioned at a cost of Rs.10379.14 Cr, 63 projects at a cost of Rs.248.09 Cr have been completed, 199 projects at a cost of Rs.5502.40 Cr. are under execution and the remaining projects are under various stages of implementation.
</p>  
</section>


<section id="iudm">
    <span class="heading2"><u>INTEGRATED URBAN DEVELOPMENT MISSION (IUDM)</u></span>
    <p class="iudmcontent">Integrated Urban Development Mission, a State flagship programme, was operational from 2011-12 to 2015-16 (5 years) aiming to improve basic infrastructure facilities like roads, drinking water supply, street lights, sewerage, storm water drains, sanitation, solid waste management, improvement of bus stands and parks in all Corporations (Except Chennai), Municipalities and Town Panchayats. Under this scheme, 13,257 projects were sanctioned at a cost of Rs 9594.83 Crore (fully funded/partly funded). Out of the sanctioned 13,257 projects, 13,214 projects have been completed and the remaining 43 projects are at various stages of implementation.
    <br></br>
    The scheme was re-launched by Government of Tamil Nadu to be operational from the year 2018-19 onwards with the allocation of Rs 750 Cr per year.  549  projects were sanctioned at a cost of Rs. 1234 Cr during 2018-19 and 2019-20 (till 30th Sep 2019). Out of the total sanctioned projects, 166 no. of projects have been completed and the remaining projects are in various stages of implementation.
    </p>
</section>

<section id="jnnurm">
    <span class="heading3"><u>JNNURM – URBAN INFRASTRUCTURE AND GOVERNANCE (JNNURM – UIG)</u></span>
    <br></br>
    <span class="heading4"><u>Jawaharlal Nehru National Urban Renewal Mission – Urban Infrastructure and Governance (JnNURM – UIG)</u></span>
    <p class="jnnurmcontent">The Government of India have launched the Jawaharlal Nehru National Urban Renewal Mission (JNNURM) during December 2005. The Mission period of JNNURM is 7 years. It was extended for two more years i.e upto March 2014. The Government of India have sanctioned 48 projects at an estimated value of Rs.5250.16 crore (GOI Share: Rs. 2126.76 Cr; GoTN Share: 866.36 Cr; ULB/parastatal agencies share: Rs. 2257.03 Cr). Out of 48 sanctioned projects, 39 projects have been completed, 9 projects are in progress. </p>
    <span class="heading5"><u>Transition Phase projects</u></span>
    <p class="uigcontent">The Government of India sanctioned 17 projects for an amount of Rs.867.83 crore. The Government of India share is Rs.371.49 Crore.   Out of 17 projects, 3 projects have been completed, 12 projects are in progress and 2 projects have been dropped (Coimbatore 24 X 7 Water supply project and Poonamallee Water Supply).</p>
</section>

<section id="uidssmt">
    <span class="heading6"><u>Urban Infrastructure Development Scheme for Small and Medium Towns (UIDSSMT)</u></span>
    <p class="uidssmtcontent">UIDSSMT is one of the components of JnNURM scheme.  All the non-mission cities of Tamil Nadu, excluding the mission cities of Chennai, Madurai, Coimbatore and their urban agglomerations, are eligible for financial assistance under this scheme.  The mission period of the scheme was 7 years. (2005-06 to 2011-12) and it was extended upto March 2014 for completion of ongoing projects.
    <br></br>
    122 works at a cost of Rs.882.72 Cr (GOI Share: Rs.706.18 Cr; GoTN Share: Rs.88.27 Cr; ULB Share: Rs.88.27 Cr.) sanctioned under UIDSSMT.
    Out of the sanctioned 122 projects, 120 projects have been completed and the remaining 2 projects are nearing completion.</p>
    <span class="heading7"><u>UIDSSMT – Transition Phase</u></span>    
    <p class="tpcontent">The Government of India approved the following 13 projects at a cost of Rs.507.40 Cr under UIDSSMT for the transition phase of JnNURM (2013 – 14). Out of 13 projects, 6 projects have been completed, 6 projects are in progress, 1 project has been dropped (Jolarpet UGD).</p>
    <span class="heading8"><u>Urban Infrastructure Development Scheme for Small and Medium Towns (UIDSSMT) - Revolving Fund</u></span>  
    <p class="fundcontent">A Revolving fund was created out of the subsumed UIDSSMT scheme by TUFIDCO. Out of this fund, various Water supply and UGSS Internal Plumbing projects were sanctioned to Corporations / Municipalities during 2018-19. The details are as below:
    <br></br>
    </p>
    <div class="table-wrapper">
        <table class="fl-table">
            <thead>
            <tr>
                <th>Sector</th>
                <th>No.of Municipalities/Corporations</th>
                <th>UIDSSMT Revolving fund sanctioned</th>
                <th>No of connections proposed to be effected</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Water Supply</td>
                <td>73</td>
                <td>169.58</td>
                <td>531422</td>
                
            </tr>
            <tr>
                <td>UGSS</td>
                <td>26</td>
                <td>193.22</td>
                <td>287847</td>
                
            </tr>
            <tr>
                <td>Total</td>
                <td>99</td>
                <td>362.80</td>
                <td>819269</td>
                
            </tr>
            <tbody>
        </table>
    </div>
    <p class="fundcontent2">The sanctioned projects are under various stages of implementation.</p>
</section>

<section id="midf">
    <span class="heading9"><u>METROPOLITAN INFRASTRUCTURE DEVELOPMENT FUND SCHEME (MIDF)</u></span>
    <p class="midfcontent">The Mega City Programme (MCP) was launched by Government of India ( GOI ) during 1995 and phased from December 2005. As per the guidelines the sharing between Central and State Government is 25:25 and the balance 50% to be met by the implementing agencies. The funds from Central and State Governments flow directly to the Nodal Agencies(TUFIDCO) as grant. The Nodal agency should give project-based loans at variable rates of interest, with a judicious mix of grants and loans to various implementing institutions. The Nodal agency should create a revolving fund out of repayment made by the implementing institutions for the development of infrastructural assets on continuous basis.<br></br>
    Accordingly, TUFIDCO had created the Revolving fund and the same has been converted as Metropolitan Infrastructure Development Fund ( MIDF ) as approved by GOI. The GOI have stated that the above funds may be utilized for any infrastructure development project on the lines of the guidelines governing the MCP. The total fund so far created under MIDF is Rs 1039.53 crore(as on 31.12.2011).   
    </p>
    <span class="heading10"><u>SANCTION UNDER MIDF</u></span>
    <p class="sanctcontent">From the MIDF revolving fund TUFIDCO have sanctioned financial assistance to an extent of Rs 1156.46 crore as part funding for 31 projects sanctioned under JnNURM-UIG and 3 projects  sanctioned under  to GCC for roadsMIDF scheme to meet the local body/implementing agency contribution in Chennai city and peripheral local bodies. The Balance MIDF fund available for sanction is Rs 340.11 Crore.
    </p>
    <span class="heading11"><u>Agency wise sanction under MIDF (Rs In crore)</u></span>
    <div class="table-wrapper">
        <table class="fl-table">
            <thead>
            <tr>
                <th>Name of the Agency</th>
                <th>No.of projects sanctioned</th>
                <th>Approved Cost</th>
                <th>Govts. share under JnNURM</th>
                <th>MIDF share</th>
                <th>ULB share</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>CMWSSB</td>
                <td>21</td>
                <td>1875.52</td>
                <td>972.88</td>
                <td>478.63</td>
                <td>424.00</td>
                
            </tr>
            <tr>
                <td>Corporation of Chennai</td>
                <td>11</td>
                <td>2414.04</td>
                <td>768.39</td>
                <td>664.56</td>
                <td>981.09</td>
                
            </tr>
            <tr>
                <td>Municipalities</td>
                <td>1</td>
                <td>32.62</td>
                <td>16.31</td>
                <td>8.15</td>
                <td>8.15</td>
                
            </tr>
            <tr>
                <td>Town panchayats</td>
                <td>1</td>
                <td>20.47</td>
                <td>10.23</td>
                <td>5.11</td>
                <td>5.12</td>
                
            </tr>
            <tbody>
        </table>
    </div>
    <span class="heading12"><u>Method of release of funds</u></span>
    <p class="releasecontent">TUFIDCO is releasing the sanctioned funds on quarterly basis, however advance releases have also been made based on the progress of the projects. So far a sum of Rs 813.60 crore have been disbursed to the implementing agencies for the sanctioned projects.</p>
    <span class="heading13"><u>Physical and financial status of the projects</u></span>
    <p class="projectcontent">Out of sanctioned 34 projects, 29 projects have been completed, 5 projects are in progress. The Agency wise details of projects completed and in progress.</p>
    <span class="heading14"><u>Details of projects completed and in progress (Rs in crore)</u></span>
    
</section>

<section id="igff">
    <span class="heading15"><u>INFRASTRUCTURE GAP FILLING FUND AND OPERATION & MAINTENANCE GAP FILLING FUND</u></span>
    <p class="igffcontent">Based on the Third State Finance Commission’s recommendations, Government will allocate Funds in the Budget for Infrastructure Gap Filling Fund and operation and maintenance of needy infrastructure facilities of urban local bodies. The heads of the departments, O/o Commissionerate of Municipal Administration and Directorate of Town Panchayats will draw the funds from Government and route the same to TUFIDCO.<br> </br>As per the directions given by the O/o Commissionerate of Municipal Administration and Directorate of Town Panchayats, TUFIDCO will release the fund to the local bodies.
    </p>
</section>

<section id="ssf">
    <span class="heading16"><u>MUNICIPAL/CORPORATION SCHOOL STUDENT SCHOLARSHIP FUND</u></span>
    <p class="ssfcontent">Government have nominated TUFIDCO as a Fund Manager for MUNICIPAL/CORPORATION SCHOOL STUDENT SCHOLARSHIP FUND. Under this scheme Government have released Rs.4.53 crores and requested TUFIDCO to manage the above fund as Fund Manager and invest the amount prudently so as to get maximum rate of interest to award prizes and scholarship to the students of Municipal Corporations/Municipal Schools as and when directed from out of the interest earned from this Corpus fund. As per the directions given by the O/o Directorate of Municipal Administration TUFIDCO will release the fund to the students.</p>
    <div id="table-wrapper">
        <table id="fl-table" >
            <thead>
            <tr>
                <th colspan="2" id="heading">FUND POSITION</th>

            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="bod1" style="width:67%">Fund received</td>
                <td align="right" class="bod1">453.00</td>
            </tr>
            <tr>
                <td class="bod2">Interest earned (received) up to 31.03.2011</td>
                <td align="right" class="bod2">75.25</td>
            </tr>
            <tr>
                <td class="bod3">Interest accrued but not received up to 31.03.2011</td>
                <td align="right" class="bod3">39.82</td>
            </tr>
            <tr>
                <td class="bod4">Scholarship given till 23-11-2011</td>
                <td align="right" class="bod4">71.76</td>
            </tr>   
            <tbody>
        </table>
    </div>
</section>

<section id="etcf">
    <span class="heading17"><u>ENTERTAINMENT TAX COMPENSATION FUND</u></span>
    <p class="etcfcontent">Government have taken a decision to compensate for the revenue losses incurred by the local bodies due to the entertainment tax exemption granted for the Movies named in Tamil. This scheme was introduced during 2007-08 and funds were allotted in the Government budget. O/o Directorate of Municipal Administration will draw the funds from Government and route the same to TUFIDCO. TUFIDCO will deposit the amount in its Fund account.<br><br>As per the directions given by the 0/o Directorate of Municipal Administration, Directorate of Town Panchayats and Chennai Corporation, TUFIDCO will release the fund to the local bodies.</p>
    <div class="table-wrapper">
        <table class="fl-table">
            <thead>
            <tr>
                <th>Year</th>
                <th>Funds Received</th>
                <th>Funds Released</th>
                <th>Balance Funds available for release</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>2007-08</td>
                <td>2700.00</td>
                <td>2620.00</td>
                <td>80.00</td>
                
            </tr>
            <tr>
                <td>2008-09</td>
                <td>2500.00</td>
                <td>2465.00</td>
                <td>35.00</td>
            </tr>
            <tr>
                <td>2009-10</td>
                <td>2700.00</td>
                <td>2700.00</td>
                <td>0.00</td>
            </tr>
            <tr>
                <td>Total</td>
                <td>7900.00</td>
                <td>7785.00</td>
                <td>115.00</td>
            </tr>
            <tbody>
        </table>
    </div>
    <p class="etcfcontent">Apart from the above, TUFIDCO had released an amount of Rs.350.00 lakhs to the local bodies out of the interest earned from Short term investment of the capital amount.</p>
</section>

<section id="knmt">
    <span class="heading18"><u>KALAIGNAR NAGARPURA MEMPATTU THITTAM (KNMT)</u></span>
    <p class="knmtcontent">Government of Tamil Nadu announced the “Kalaignar Nagarpura Mempattu Thittam” (KNMT) scheme to fulfil the Infrastructural Gap in all the 121 Municipalities and 528 Town Panchayats and Nodal Agency is TamilNadu Urban Finance and Infrastructure Development Corporation Ltd (TUFIDCO). Budget Allocation for this scheme is Rs.1,000 Crores in the year 2021-22. </p>
    <span class="heading18"><u>Suggestive list of works to be taken up under this scheme</u></span>
    <br>
    <span class="heading18"><u>Water supply : </u></span>
    <p class="knmtcontent">Source creation/augmentation works, pumping main works, extension of pipeline and construction of OHT/GLR especially in uncovered areas. </p>
    <span class="heading18"><u>Street Lights : </u></span>
    <p class="knmtcontent">Street Lights will be provided in the needy areas wherever required at regular intervals of at least 30 meters. Preference will be given to relatively backward areas/slums and added / extension areas. Provision for street lights near common facility centers/ community assets will also be given priority. </p>
    <span class="heading18"><u>Roads/Street and Lanes : </u></span>
    <p class="knmtcontent">Upgradation of Earthen gravel/WBM roads to All weather roads paved with BT,CC and paver blocks. </p>
    <span class="heading18"><u>Community Infrastructure : </u></span>
    <p class="knmtcontent">New community halls with minimum seating capacity of 100 persons and a minimum area of 200 sq.m will be constructed in the needy Municipalities and Town Panchayats. </p>
    <span class="heading18"><u>Markets : </u></span>
    <p class="knmtcontent">New Markets will be constructed based on need. Upgradation of markets will also be taken up with adequate infrastructure and modern amenities. </p>
    <span class="heading18"><u>Construction of Modern Libraries / Knowledge Centers : </u></span>
    <p class="knmtcontent">Modern libraries / Knowledge centers shall be constructed in the Municipalities / Town Panchayats to assist the students and job aspirants to equip themselves for competitive examinations. Facilities like Reading hall, Library computer with internet access and other logistics will be provided. </p>
    <span class="heading18"><u>Other Essential Infrastructure</u></span>
    <p class="knmtcontent">Construction of modern Bus Stands, improvement of existing Bus stands to modern standards, Rejuvenation of water bodies, procurement of vehicles for Solid Waste Management such as Tiper Lorry, Compactor Vehicle, Battery Operated Vehicle and provision of infrastructure for Solid Waste Management activities, upgradation of existing facilities in crematorium, development of New Parks and Play fields, construction and renovation of Community/Public toilets and any other essential infrastructures will be encouraged to be provided under KNMT. 
        The Director of Municipal Administration and Director of Town Panchayats will send the proposals submitted by the ULBs to the Nodal Agency TUFIDCO to appraise and putup the proposal to the Project Sanctioning and Monitoring Committee for approval and Administrative Sanction. 
    </p>
</section>
{% endblock %} 