{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block nav %}

{% endblock %}

{% block content %}
<div class="topicschemes1">
<h2><u>TUFIDCO'S INFRASTRUCTURE FUNDING SCHEME(TIFS)</u></h2>
</div>
<div class="contentschemes1">
TUFIDCO is providing financial assistance to implement various infrastructure projects of local bodies, Statutory Authorities, Boards and other Government agencies under TUFIDCO'S INFRASTRUCTURE FUNDING SCHEME(TIFS) from its share capital, reserves and by availing loan from banks and mobilising public deposits.
</div>
<div class="topicschemes2">
<h2><u>SOURCES OF FUND FOR LENDING</u></h2>
</div>
<div class="contentschemes2">
TUFIDCO, using the equality share capital, reserves and surplus, bank borrowings and mobilisation of public deposits, extend funding support to infrastructure development projects in the State.
</div>
<div class="topicschemes3">
<h2><u>SCHEME</u></h2>
</div>
<div class="contentschemes3">
Under TIFS , the financial assistance is extended upto 100% of the cost of the project. The Corporation is also funding to the Urban Local Body share of JNNURM-UIG, UIDSSMT and Minimum Need Programme(MNP) projects.    
</div>
<div class="topicschemes4">
<h2><u>COMPONENT</u></h2>
</div>
<!-- <div class="contentschemes4">
    The following are the list of projects, which can be considered under this scheme for extending financial assistance.
</div> -->
<div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            The following are the list of projects, which can be considered under this scheme for extending financial assistance.
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            <ol class="list-group list-group-numbered">
                <li class="list-group-item">Construction of Commercial/Shopping complex.</li>
                <li class="list-group-item">Construction of Office Complex.</li>
                <li class="list-group-item">Weekly Shandy, Daily market.</li>
                <li class="list-group-item">Bus Terminals.</li>
                <li class="list-group-item">Water Supply Schemes.</li>
                <li class="list-group-item">Drainage Schemes.</li>
                <li class="list-group-item">Sites and Services Schemes.</li>
                <li class="list-group-item">Development of Truck Terminals.</li>
                <li class="list-group-item">Street Lighting for major roads.</li>
                <li class="list-group-item">Traffic improvement programme.</li>
                <li class="list-group-item">Social amenities.</li>
                <li class="list-group-item">Provision of Tourist facilities.</li>
                <li class="list-group-item">Construction/improvement of major roads, important roads including ring, arterial, by-pass, link road, small bridges, Culverts etc.</li>
                <li class="list-group-item">Solid Wate Management including Construction of garbage plant, Vermi-compost yards and purchase of vehicles.</li>
                <li class="list-group-item">Construction/Upgradation of storm water drains.</li>
                <li class="list-group-item">Crematorium project.</li>
                <li class="list-group-item">Warehouse/Godowns.</li>
                <li class="list-group-item">Infrastructure for Housing scheme.</li>
                <li class="list-group-item">Housing and Sites & Service schemes.</li>
                <li class="list-group-item">Any other projects which is / are in the nature of infrastructure development.</li>
            </ol>
        </div>
      </div>
    </div>
  </div>
<div class="topicschemes5">
<h2><u>RATE OF INTEREST</u></h2>
</div>
<div class="contentschemes5">
Interest rate fixed based on the prevailing market rate on quarterly basis.
</div>
<div class="topicschemes6">
<h2><u>REPAYMENT PERIOD</u></h2>
</div>
<div class="contentschemes6">
10 years for commercial projects, 15 years for user charges and service projects. Principal moratorium 2 years. Also short term loan available to meet temporary gap in funding of the projects.
</div>
<div class="topicschemes7">
<h2><u>SANCTION & DISBURSEMENT</u></h2>
</div>
<div class="contentschemes7">
Under this Scheme from 1998-1999 to 2010-11 a sum of   Rs 2092.96 crore have been sanctioned for various infrastructure projects and take over of high cost loan of Local Bodies, other State public sectors, Boards etc., During the period a sum Rs 1861.17 crore have been disbursed.
</div>
<div class="topicschemes8">
<h2><u>SANCTIONS FOR THE PAST THREE YEARS</u></h2>
</div>

<div class="table-wrapper">
    <table class="fl-table">
        <thead>
        <tr>
            <th>Year</th>
            <th>No.of projects sanctioned</th>
            <th>Cost of Project.( Rs in lakhs)</th>
            <th>TIFS Share sanctioned.( Rs in lakhs)</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>2008-09</td>
            <td>12</td>
            <td>8441.10</td>
            <td>747.86</td>
        </tr>
        <tr>
            <td>2009-10</td>
            <td>22</td>
            <td>28686.27</td>
            <td>26339.86</td>
            
        </tr>
        <tr>
            <td>2010-11</td>
            <td>30</td>
            <td>47484.60</td>
            <td>10284.10</td>
            
        </tr>
        <tr>
            <td>2011-12</td>
            <td>09</td>
            <td>86491.97</td>
            <td>6810.00</td>
            
        </tr>
        <tbody>
    </table>
</div>
<div class="topicschemes9">
<h2><u>LOAN COLLECTION MECHANISM</u></h2>
</div>
<div>
<ul  class="contentschemes9">
    <li>Escrow Account shall be opened by the ULB and the project revenue for which loan extended, property tax and professional tax collections shall be escrowed in favour of TUFIDCO. The Council shall pass the resolution in this regard. This account shall be in existent till the repayment of the entire loan and other dues to TUFIDCO.</li>
    <li>The agreement shall be executed with ULB to adjust the dues of ULB by the State Government from the devolution grant under State Finance Commission recommendation , other grants etc., and remit the same to TUFIDCO in the event of default in repayment of principal, interest and other money due to TUFIDCO in respect of loan availed by the ULBs.</li>
    <li>Also consent letter shall be obtained from the HOD's to adjust the dues of ULBs from the ULB's share of devolution grant under SFC recommendation and remit the same to TUFIDCO in the event of default in repayment by ULB.</li>
</ul>
</div>
{% endblock %}